# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
splitwisecli

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env.local
.env.*.local

.env

# Build output
/dist/
/build/
bin/

#venv
.venv

*.csv
evals_outputs/